.mat-dialog-container {
    background-color: white !important;
    color: black;
}


.selected {
    filter: brightness(100%);
    /* border-right:2px solid black;
    border-left:2px solid black; */

    /* border:2px solid white; */
}

.notselected {
    filter: brightness(30%);
    /* border-right:2px solid white;
    border-left:2px solid white; */

}


img{
    cursor: zoom-in;
    display: block;
}

.cropIcon{
    cursor: default;
}
.last {
    border-bottom: 0px solid black;
}


.soilSections {
    border-top: 0px solid black;
    border-right: 0px solid black;
}



.descriptionContainer div {
    padding: 25px;
}

.desclabel{
    font-weight: 500;
}

.imageContainer{
    width: 250px;
}

.descriptionContainer {
    margin-left: 20px;
}

.depthdesc{
    padding: 20px 0px 20px 0px;
    width: 300px;
}


.labelCol{
    width: 130px;
}

.contentCol{
    width: 170px;
}

#descTable tr{
    margin:5px 0px;
}