<div class="modal">
  <h2 mat-dialog-title>{{data.name}}</h2>
  <mat-dialog-content class="mat-typography">


    <div class="modalContent">
      <div class="imageContainer" fxLayout="column" fxLayoutAlign="center center">

          <div *ngFor="let i of data.images;let last = last" [ngClass]="{ 'last' : last }" class="soilSections">
          
            <img id="{{i.picId}}" src="../assets/site1/{{i.url}}" (click)="test2(i)">
            <div style="height: 100%;width: 10px;background: red;"></div>
          </div>


        <button mat-button (click)='clear()'>Clear</button>
      </div>

      <div class="descriptionContainer">
        <div>
          <h1>Description</h1>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </h2>

          {{textContent}}
      </div>
      </div>
    </div>



  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button matDialogClose (click)='close()'>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)='close()'>Close</button>
  </mat-dialog-actions>
</div>