<div class="modal">
  <h2 mat-dialog-title>Install Angular</h2>
  <mat-dialog-content class="mat-typography">
    <div style="width: 100%;" fxLayout="column">
      <div fxLayout="row">
        <div style="width: 100px;height: 50px;background: red;"></div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus asperiores voluptatibus neque quod
          dignissimos nesciunt.
        </div>
      </div>
      <div fxLayout="row">
        <div style="width: 100px;height: 60px;background: green;"></div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus asperiores voluptatibus neque quod
          dignissimos nesciunt. Minus id dolore laborum quam, nesciunt commodi alias enim vitae eaque quibusdam possimus
          cum exercitationem.
        </div>

      </div>


    </div>



  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button matDialogClose (click)='close()'>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)='close()'>Install</button>
  </mat-dialog-actions>
</div>