#map{
    height: calc(100vh - 64px);
}

.sarainav{
    background:#0e2c1c;
}
.filter-spacer{
    width: 100%;
}

.mat-dialog-container{
    background-color: white !important;
    color: black;
}
.leaflet-marker-icon{
    transition: transform .5s;
}

.leaflet-marker-icon:hover{
    transform: rotate(30deg);
}